{% extends "base.html" %} {% load static %} {% block content %}
<div class="main">
  <div
    class="search mt-5 pt-5 pb-2 fixed-form-container shadow-lg"
    style="position: fixed; width: 100%; z-index: 1000"
  >
    <h1 class="mb-4 title text-dark fw-bold">RallyRides</h1>
    <form
      action="{% url 'rides:index' %}"
      className="form-labels "
      method="get"
      class="form-inline"
    >
  <div class="d-flex justify-content-center align-items-center">

      {{ form }}
      <input
        type="submit"
        value="Search"
        class="btn btn-primary ms-2"
        onclick="return checkForm()"
      />
    </form>
          </div>

  </div>
  <div style="height: 280px"></div>

  <div class="cardslist container text-center mt-5">
    <div class="row align-items-center">
      <div class="col">
        <div class="container text-center" style="min-width: 1200px">
          {% for person in people %} {% if forloop.first %}
          <div class="row d-flex justify-content-center mb-5">
            {% endif %}
            <div
              class="col-3 d-flex flex-column justify-content align-items-center"
            >
              <div class="card text-start" style="width: 18rem">
                <img
                  src="{% static 'logo.png' %}"
                  class="card-img-top"
                  height="200"
                  style="object-fit: cover"
                />
                <div class="card-body">
                  <h5 class="card-title">{{person.first_name}}</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">
                    Destination: {{ person.destination_city}},
                    {{person.destination_state}}
                  </h6>
                  <p class="card-text mb-1">
                    Leave: {{person.time}} on {{person.date}}
                  </p>
                  <p class="card-text mb-1">
                    Seats: {{person.seats_available}}
                  </p>
                </div>
              </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
          </div>
          <div class="row d-flex justify-content-center mb-5">
            {% endif %} {% if forloop.last %}
          </div>
          {% endif %} {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
